
<%-include("../layout/adminHeader.ejs")-%>


<section>
    <div class="content ">
      <div class="row">
        <div class="container  mb-3">
          <div >
            <h5><strong> Coupons</strong> </h5>
           <span class="opacity-50"> Dashboard > Coupons</span> 
          </div>
          
        </div>
        <form action="/admin/adminPanel/coupon/create-Coupon" method="post" id="couponForm">
         <div class="px-4 py-3 me-3 mb-5" style="border: 1px solid #f359006c; 
         box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.242); margin-bottom: 20px;">

          <div class=" text-center  ">
            <div class="d-flex gap-5 fw-bold">
              
                <div>
                    <label for="">Coupon Code</label> <br>
                    <input type="text" placeholder="Enter the Code" name="Cname" required>
                </div>
                <div>
                  <label for="">Min.Amount </label><br>
                  <input type="text" placeholder="Min amount required for applying Coupon" required name="minAmount">
              </div>
                <div>
                    <label for="">Discount Percentage</label><br>
                    <select class="form-select" name="percentage" aria-label="Default select example">
                      <option selected>Select</option>
                      <option value="70">70%</option>
                      <option value="60">60% </option>
                      <option value="50">50% </option>
                      <option value="40">40% </option>
                      <option value="30">30% </option>
                      <option value="20">20% </option>
                      <option value="10">10% </option>
                    </select>  </div>
                <div>
                    <label for="StartingDate">Start Date</label><br>
                    <input type="date" id="Starting" name="StartingDate" min="" required>
                    
                </div>
                <div>
                  <label for="expDate">Expiration Date</label><br>
                  <input type="date" id="EXP" name="expDate" min="" required>
              </div>
              

            </div>
            <div class=" mt-3 text-center"> 
                <button type="submit" class="btn text-white  " style="background: #f35800; margin-left: -150px;">
                  <i class="fa-regular fa-plus" style="color: #ffffff;"></i> Create Coupon</a>
               </div>
        </div>
         </div>

        </form>
        

      </div>
        <table class="table" id="myTable">
            <colgroup>
                <col style="width: 180px;" /> <!-- Column for the checkbox icon -->
                <col style="width: 58px;" /> <!-- Column for Category -->
                <col style="width: 80px;" /> <!-- Column for sopld -->
                <col style="width: 100px;" /> <!-- Column for stock -->
                <col style="width: 100px;" />
                <col style="width: 100px;" />  <!-- Column for Added -->
                <col style="width: 80px;" />
                <col style="width: 80px;" />
                
               
                
              </colgroup>
            <thead>
              <tr>
                <th scope="col">Coupon Code</th>
                <th scope="col">Discount</th>
                <th scope="col">Min Amount</th>
                <th scope="col">Start</th>
                <th scope="col">Expire</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
               
              </tr>
            </thead>
            <% if (couponData && couponData.length > 0) { %>
            <tbody>

              <% couponData.forEach(coupon => { %>
                <tr>
                  
                  <td >
                    
                    <%= coupon.code %>
                  </td>
                  
                  <td >
                    <%= coupon.Discount %>%
                    
                  </td>
            
                  <td >
                    <%= coupon.minAmount %>                   
                  </td>
                  <td >  <%
                    const startDate = new Date(coupon.Start)
                    const formatedStartedDate = startDate.toLocaleDateString()
                    %>
                    <%= formatedStartedDate %>
                    </td>
                 
            
                    <td >  <%
                      const exprDate = new Date(coupon.expireDate)
                      const formatedExprdDate = exprDate.toLocaleDateString()
                      %>
                      <%= formatedExprdDate  %>
                      </td>

                      <td >  <%
                        const createdDate = new Date(coupon.Created)
                        const formatedcreateDate = createdDate.toLocaleDateString()
                        %>
                        <%= formatedcreateDate %>
                        </td>
                  <td > 
                    <select class="form-select" name="status" aria-label="Default select example">
                     
                      <option value="Active" <% if (coupon.Status === 'Active') { %>selected<% } %>>Active</option>
                      <option value="Expire" <% if (coupon.Status === 'Expire') { %>selected<% } %>>Expire</option>
                      
                  </select>
                  
                  </td>

                  <td> <i class="fa fa-trash" style="color: #f35800;" aria-hidden="true"></i> </td>
                </tr>
                <% }); %>
            
            </tbody>
            <% } else { %>
              <p>No coupons available.</p>
            <% } %>
          </table>

    </div>
   
           
        
   
</section>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Get today's date and format it as YYYY-MM-DD
      const today = new Date();
      const dd = String(today.getDate()).padStart(2, '0');
      const mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
      const yyyy = today.getFullYear();
      const formattedToday = yyyy + '-' + mm + '-' + dd;

      // Set the min attribute of the date input to today's date
      document.getElementById('EXP').min = formattedToday;
      document.getElementById('Starting').min = formattedToday

  });
</script>

<script>
  const couponForm  = document.getElementById('couponForm')
  couponForm.addEventListener('submit',(e)=>{
    e.preventDefault()
    $.ajax({
      url : '/admin/adminPanel/coupon/create-Coupon',
      method : 'post',
      data : $('#couponForm').serialize(),
      success:(response)=>{
        location.href= '/admin/adminPanel/coupon'

      }
    })
    

  })
</script>