
<%-include("../layout/adminHeader.ejs")-%>


<section>
    <div class="content ">
      <div class="row">
        <div class="container d-flex mb-5">
          <div >
            <h5><strong> Products</strong> </h5>
           <span class="opacity-50"> Dashboard > Order List</span> 
          </div>
          
        </div>

      </div>
        <table class="table">
            <colgroup>
                
                <col style="width: 100px;" /> <!-- Column for Product -->
                <col style="width: 140px;" /> <!-- Column for SKU -->
                <col style="width: 90px;" /> <!-- Column for Category -->
                <col style="width: 100px;" />  <!-- Column for Stock -->
                <col style="width: 100px;" />  <!-- Column for Price -->
                <col style="width: 70px;" />  <!-- Column for Status -->
               
                <col style="width: 30px;" /> <!-- Column for Action -->
              </colgroup>
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Product</th>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Total Price</th>
               
                <th scope="col">Status</th>
                
              </tr>
            </thead>
            <tbody>
              <% orderData.forEach(function(product){ %>

                <% product.items.forEach( (pdt)=>{ %>
                  <tr>
                    
                      <td class="fw-semibold">
                        <a href="" style="text-decoration: none; color: #f35800;"> <%= String(pdt._id) %></a>
                      </td>
                      <td>
                        <img src="/assests/productsUploads/<%= pdt.img1 %>" alt="" width="50" height="50" class="me-3">
                      </td>
                      <td>
                        <% 
                          const orderDate = new Date(product.orderDate); // Access item.OrderDate instead of orderData.OrderDate
                          const formattedOrderDate = orderDate.toLocaleDateString();
                        %>
                        <%= formattedOrderDate %>
                      </td>
                      <td>
                        <%= product.user_id?.Name %>
                      </td>
                                         
                      <td>
                        <%= pdt.price%>
                      </td>

                      <td>
                        <select class="form-select status-select" data-order-id="<%= pdt._id %>" aria-label="Default select example">
                          <option value="Order Confirmed" <% if (pdt.orderStatus === 'Order Confirmed') { %>selected<% } %>>Order Confirmed</option>
                          <option value="Shipped" <% if (pdt.orderStatus === 'Shipped') { %>selected<% } %>>Shipped</option>
                          <option value="Delivered" <% if (pdt.orderStatus === 'Delivered') { %>selected<% } %>>Delivered</option>
                          <option value="On the Way" <% if (pdt.orderStatus === 'On the Way') { %>selected<% } %>>On the Way</option>
                          <option value="Returned" <% if (pdt.orderStatus === 'Returned') { %>selected<% } %>>Returned</option>
                          <option value="Canceled" <% if (pdt.orderStatus === 'Canceled') { %>selected<% } %>>Canceled</option>
                        </select>
                      </td>
                   
                  </tr>
                  

              <%  }) %>

                


              <%})%>
            </tbody>
           
            
          </table>

    </div>
   
           
        
   
</section>



<script>
  $(document).ready(function () {
    $('.status-select').on('change', function () {
      var orderId = $(this).data('order-id');
      var newStatus = $(this).val();

      // Make AJAX request to update order status
      $.ajax({
        url: '/admin/adminPanel/OrderList/updateStatus',
        method: 'POST',
        data: {
          orderId: orderId,
          newStatus: newStatus
        },
        success: function (response) {
          console.log(response); // Handle success response
        },
        error: function (error) {
          console.error(error); // Handle error
        }
      });
    });
  });
</script>

<script>
  function conformDelete(pdt_id){
    if(confirm("Are you sure want to delete this item?")){
      window.location.href="/admin/adminPanel/products/dltPdt/"+pdt_id;
    }
  }
</script>