<%-include("../layout/userHeader.ejs")-%>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<section >

  
    <div class="container-fluid ps-5 pe-5 pt-5 d-flex">

      <div class="col-7">
        <div >
          <% if (userAddresses && userAddresses.Addresses) { %>
            <div class=" p-2" style="background-color: rgba(235, 235, 235, 0.381);
                            
                            border: 2px dotted #f161074b;
                            padding: 5px;
                            margin-bottom: 15px;
                            display: flex;
                            
                            font-weight: bold;
                            
                ">
            <h6>
             
                <div id="addressSection">
                    <% let mainAddress = userAddresses.Addresses.find(address => address.mainAdrs === true); %>
                    <% let displayAddress = mainAddress ? [mainAddress] : [userAddresses.Addresses[0]]; %>
                    <% displayAddress.forEach(address => { %>
                        <div>
                            Delivery To : <strong><%= address.name %></strong>
                        </div>
                        <div style="padding-left: 90px; padding-top: 5px;">
                            <%= address.Adrs %>, <%= address.locality %>,
                            <%= address.city %>,
                            <%= address.state %>,
                        </div>
                        <div style="padding-left: 90px; padding-top: 5px;">
                            <%= address.state %>, <%= address.pincode %>
                        </div>
                        <div>
                            <!-- Display other address properties as needed -->
                        </div>
                    <% }); %>
                </div>
           
            
             
            </h6>
            </div>
            <% } %>
        </div>
     <!-- form -->
     <% if (cartData && cartData.products) { %>
        <div>

            <div class="col-12 p-3" style="background-color: rgba(235, 235, 235, 0.381);
                            
            border: 2px dotted #f161074b;
            padding: 5px;
            margin-bottom: 15px;
            display: flex;
           
            font-weight: bold;
            
            ">
                  <a style="color: #f35800;" type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-plus" style="color: #f35800;"></i> <strong>Add New Address</strong>
                  </a>
        </div>
        <% if (error && error.length > 0) { %>

          <div class="alert alert-danger">
         
             <ul>
         
               <% error.forEach(function(errorMessage) { %>
         
                 <li><%= errorMessage %></li>
         
               <% }); %>
         
             </ul>
         
          </div>
         
         <% } %>


                  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add New Address</strong> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div>
          <form action="/cart/add-address" method="post" id="addressForm">
            
                <div class="modal-body">

           
                    <div class="container mx-4">
                      
                    <div class="d-flex gap-3 pe-3">
                        <input type="text" placeholder="Name" class="form-control" name="name">
                        
                    </div>
                    <div class="d-flex gap-3 pt-4 pe-3">
                        <input class="form-control" type="text" placeholder="PIN CODE" name="zip">
                        <input class="form-control" type="text" placeholder="Locality" name="locality">
                    </div>
                    <div class="d-flex gap-3 pt-4 pe-3">
                        <textarea class="form-control" name="Address" id="" placeholder="Address (Area and Street)" cols="47" rows="4"></textarea>
                        
                    </div>
                    <div class="d-flex gap-3 pt-4 pe-3">
                        <input class="form-control" type="text" placeholder="City / District / Town" name="place">
                        <input class="form-control" type="text" placeholder="State" name="state">
                    </div>
                    <div class="d-flex gap-3 pt-4 pe-3">
                        <input class="form-control" type="text" placeholder="Landmark" name="Lmark">
                        <input class="form-control" type="text" placeholder="Alternate Phone" name="altNum">
                    </div>
                    <div class="d-flex gap-3 pt-4 pe-3">
                        
                    <h6>Address Type : </h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="Home" >
                            <label class="form-check-label" for="exampleRadios1">
                               Home
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="Work" >
                            <label class="form-check-label" for="exampleRadios2">
                                Work
                            </label>
                        </div>
                    </div>
        
        
                    </div>
                
        
        
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn " style="background: #f35800; color: white;">Save </button>
                
                </div>

            </form>
        </div>
       
        
      </div>
    </div>
  </div>
        </div>
<!-- form end -->


  <% cartData.products.forEach(product => { %>
<div style="border: 1px solid #f359006c; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.242); margin-bottom: 20px;">

  
     
  <div class="d-flex">
    <div>
        <img src="/assests/productsUploads/<%= product.image %>" class="rounded-2 p-4" width="200px" height="240px" alt="User Image">
    </div>
    <div class="p-4">
        <div class="d-flex">
            <h5 class=""><strong><%= product.name %></strong></h5>
        
           
            <button onclick="conformDelete('<%= product.product_id %>')" class="btn" style="margin-left: 20px;">
                <i class="fa-regular fa-trash-can" style="color: #f35800; font-size: larger;"></i>
            </button>
        </div>
        <h6>Size: <%= product.size %></h6>
        <!-- Remove the static quantity display, as it will be dynamic in the input field -->
        <h6>Price: <strong>₹ <%= product.price %> </strong></h6>
        
        <div class="quantity-input d-flex">
          <h6 class="pt-2">Qty:</h6>


          <!--  -->
          
          <div>
            <a type="submit" class="quantity-button btn" value="-1" id="minusButton" data-productID="<%= product.product_id %>" >
                <i class="fa-solid fa-square-minus h4" style="color: #f35800;"></i>
            </a>
        
            <input type="number" style="border: 1px solid #f359007d; padding: 2px; width: 50px;" 
                name="quantity" value="<%= product.quantity %>" min="1" max="<%= product.stock %>" id="currentQty">
            <input type="hidden" value="<%= product.stock %>" name="stock"> 
            <input type="hidden" value="<%= product.product_id %>" name="productID">
        
            <a type="submit" class="quantity-button btn" id="plusButton" value="1" data-productID="<%= product.product_id %>" >
                <i class="fa-solid fa-square-plus h4" style="color: #f35800;"></i>
            </a>
        </div>


          <!--  -->

          <!-- <form action="/cart/update-quantity" id="myForm" method="post">
           
            <div>
              <button type="submit" class="quantity-button btn" onclick="decrementQuantity(this)">
                <i class="fa-solid fa-square-minus h4" style="color: #f35800;"></i>
            </button>
            
            <input type="number" style="border: 1px solid #f359007d; padding: 2px; width: 50px;" 
               name="quantity" value="<%= product.quantity %>" min="1" max="<%= product.stock %>">
           <input type="hidden" value="<%= product.stock %>" name="stock"> 
            <input type="hidden" value="<%= product.product_id %>" name="productID">
            
            <button type="submit" class="quantity-button btn" onclick="incrementQuantity(this)">
                <i class="fa-solid fa-square-plus h4" style="color: #f35800;"></i>
            </button>
            </div>
          </form> -->
      </div>
    </div>
</div>

  

</div>
<% }); %>
<% } else { %>
  <h4 class="text-center">Your cart is empty.</h4>
<% } %>


      
  

    </div>
    <% if (cartData && cartData.products) { %>
      <% cartData.products.forEach(item=> { %>
    <div class="col-5 "> 
      <div class="px-5  mx-5" style=" border: 1px solid #f359004d; box-shadow: 0px 4px 8px rgba(82, 82, 82, 0.1);">

        <!-- ... Other product details ... -->
      <div class="mt-5" >
       <span style="font-weight:600; color: rgb(176, 176, 176);">COUPONS</span> 
        <div class="d-flex ">
           <h6 class=""><strong>Apply Cuopons</strong></h6>
           <a style="color: #f35800; outline: 1px solid  #f35800; border-radius: 5px;"
           type="button" class="ms-auto btn-outline-danger  px-3 py-1" 
           data-bs-toggle="modal" data-bs-target="#couponModal">
         APPLY
         </a>  
        </div> 
      </div>  <!-- coupon modal --> 
      <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="couponModalLabel"><strong>Apply Coupon</strong> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div>
          <form action="/cart/applyCoupon" method="post" id="couponForm">
            
                <div class="modal-body">

           
                    <div class="container mx-4">
                      
                    <!-- <div class="d-flex gap-3 pe-3" >
                      <input type="text" class="form-control" style="color:#7a7a7a">
                      <button class="btn  " style="color: #f35800;">Check</button>
                    </div> -->
                    <div class=" pt-4 pe-3">
                      Available Coupon
                      <div>
                          <% if(availableCoupon && availableCoupon.length > 0) { %>
                              <ul class="list-group">
                                  <% availableCoupon.forEach(coupon => { %>
                                      <li class="list-group-item">
                                          <input class="form-check-input me-1" type="checkbox" value="" id="selectedCoupon">
                                          <label class="form-check-label" for="<%= coupon.code %>Checkbox"><%= coupon.code %></label>
                                      </li>
                                  <% }) %>
                              </ul>
                          <% } else { %>
                              No Coupons are Available right now
                          <% } %>
                      </div>
                      <hr class="" style="color:  #f35900d8 ;">
                      <div class="text-secondary">
                        <div class="col-12">More Coupons </div>
                        <div>
                          <% if(couponData && couponData.length > 0){ %>
                            <ul>
                              <% couponData.forEach(coupon=> { %>
                                <li class="list-group-item">
                                  <h6><%= coupon.code %></h6>
                              </li>

                              <% }) %>

                            </ul>
                            <% } else { %>
                              No Coupons are Available right now
                          <% } %>
                        </div>
                      </div>
                  </div>
                  
                  
        
        
                    </div>
                
        
        
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  <button id="couponApply" class="btn " style="background: #f35800; color: white;"
                   data-couponID="some_coupon_id">Apply</button>
                
                
                </div>

            
        </div>
       
        
      </div>
    </div>
  </div>
      <!-- coupon modal ends  -->

     
      <div class="mt-5 ">
        <span style="font-weight:600; color: rgb(155, 153, 153);"> PRICE DETAILS</span>
       
        <div class="d-flex ">
          <span class="d-flex" id="itemsCount" style="font-weight: bold;"> 
            Items Price(<p class="fw-semibold" id="count"><%=item.quantity%></p>):</span>

          
          <span id="totalPrice" class="ms-4" style="padding-left: 200px; font-weight: bold;">
            ₹ <%= calculateTotalPrice(cartData.products) %>
          </span>
        </div>
        
        <div class="d-flex ">
          <span style="font-weight: bold;">Delivery Charges</span>
          <span class="ms-4" style="padding-left: 180px; font-weight: bold;">
            ₹.40.00
          </span>
        </div>
        <div class="px-0">
          <hr style="border-top: 4px solid #bbb; border-radius: 5px; width: 430px;" />
        </div>
        <div class="d-flex gap-5">
          <h5 style="font-weight: bold;">Total Price:
          <span class="mx-4" style="padding-left: 190px; font-weight: bold;">
            ₹ <%= totalPrice %>
           
          </span></h5>
        </div>
      </div>
     
      
      

        <div class="mt-5 text-center mb-5">
        <a href="/cart/address" class="btn text-white btn-b ms-2 me-2" style="background: #f35800;font-weight: 600;">PLACE ORDER</a>
        </div>
       

       
    </div>
   
    
    </div>
  <% }) %>
    <% } else { %>
      <div>
        <a href="/" class="btn text-white btn-b ms-2 me-2" style="background: #f35800;font-weight: 600;">COUNTINUE SHOPPING</a>
  
      </div>
       <% } %>
    </div>
   
    
</section>
  






<script>
    const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
  myInput.focus()
})
</script>

<script>
  function conformDelete(pdt_id){
    if(confirm("Are you sure want to delete this item?")){
      window.location.href="/cart/delItem/"+pdt_id;
    }
  }
</script>





<!-- **************************** AJAX  ******************* -->





<script>
  $(document).ready(function() {
      $(".quantity-button").on("click", function() {
          var buttonValue = $(this).attr("value");
          
          var productID = $("input[name='productID']").val();
          let quantity = $("input[name='quantity']").val();
           quantity = +quantity + parseInt(buttonValue);
          // var stock = $("input[name='stock']").val();
          console.log("---------------------productID" , quantity);

          // AJAX request
          $.ajax({
              type: "POST",
              url: "/cart/update-quantity", // Replace with your server endpoint
              data: {
                  buttonValue: buttonValue,
                  productID: productID,
                  quantity: quantity,
                  
              },
              success: function(response) {
                  // Handle the response from the server
                  if(response.success){
                    
                    location.href = '/cart'
                    // $("#currentQty").val(quantity);
                   
                    // $('#count').text(quantity);


                  }
                  if(response.success==false){
                    alert(response.error);
                    

                  }
                 
                  console.log(response);
              },
              error: function(error) {
                  // Handle errors
                  console.log(error);
              }
          });
      });
  });
</script>

 



<%-include("../layout/userFooter.ejs")-%>