<%- include("../layout/userHeader.ejs") -%>

<section>
    <img src="/assests/banner1.jpg" alt="" class="img-fluid">
</section>

<div class="container">
    <% if (error && error.length > 0) { %>
        <% error.forEach(function(errorMessage) { %>
            <div class="alert alert-warning" role="alert">
                <%- errorMessage %>
            </div>
        <% }); %>
    <% } %>
</div>

<section class="container-fluid ps-3 pe-3">
    <div class="row">
        <div class="col-12 my-4">
            <h5><strong>Ethnic Wear</strong></h5>
            <div class="row">
                <% EthnicWear.forEach(product => { %>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="/itemDisplay/<%= product._id %>">
                            <img src="/assests/productsUploads/<%= product.image %>" class="img-fluid" alt="Product Image">
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>

        <div class="col-12 my-4">
            <h5><strong>Black Collection</strong></h5>
            <div class="row">
                <% black.forEach(product => { %>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="/itemDisplay/<%= product._id %>">
                            <img src="/assests/productsUploads/<%= product.image %>" class="img-fluid" alt="Product Image">
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>

        <div class="col-12 my-4">
            <h5><strong>Casual Wear</strong></h5>
            <div class="row">
                <% CasualWear.forEach(product => { %>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="/itemDisplay/<%= product._id %>">
                            <img src="/assests/productsUploads/<%= product.image %>" class="img-fluid" alt="Product Image">
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>

<section>
    <img src="/assests/banner2.jpg" alt="" class="img-fluid">
</section>

<section class="container-fluid ps-3 pe-3">
    <div class="row">
        <div class="col-12 my-4">
            <h5><strong>Office Wear</strong></h5>
            <div class="row">
                <% OfficeWear.forEach(product => { %>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="/itemDisplay/<%= product._id %>">
                            <img src="/assests/productsUploads/<%= product.image %>" class="img-fluid" alt="Product Image">
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>

<%- include("../layout/userFooter.ejs") -%>
