<%-include("../layout/userHeader.ejs")-%>


<section>
  <div class="container-fluid ps-3 pe-3 pt-3 mb-3">
    <div class="row">

      <div>
        <form id="addTCartForm" action="/cart/addtoCart/<%= product._id %>" method="post">

          
      </div>
      <!-- Product Images Column -->
      <div class="col-12 col-md-4">
        <div class="d-flex justify-content-center">
          <img src="/assests/productsUploads/<%= product.image %>"
               id="main-img"
               class="img-fluid rounded-2"
               alt="User Image"/>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <% if (product.images && product.images.length > 0) { %>
            <div id="sub-img-list">
              <% product.images.forEach((image, index) => { %>
                <img src="/assests/productsUploads/<%= image %>"
                     class="sub-img"
                     width="80px"
                     height="auto"
                     alt="Product Image"
                     data-index="<%= index %>"/>
              <% }) %>
            </div>
          <% } %>
        </div>
      </div>
      
      
  

      <!-- Product Details Column -->
      <div class="col-12 col-md-4">
        <h5><strong><%= product.name %></strong></h5>
        <div class="d-flex gap-4 align-items-center">
          <div>
            <% if (wishListData && wishListData.length > 0) { %>
              <% wishListData.products.forEach(wishlistProduct => { %>
                <% if (wishlistProduct.product_id.toString() === product._id.toString()) { %>
                  <!-- If the item is in the wishlist, show red heart -->
                  <a href="#" class="btn text-white btn-b px-3 wishlist-btn" 
                    id="red" style="background: #e6e5e5;" data-product-id="<%= product._id %>">
                    <i class="fa-sharp fa-solid fa-heart me-1" style="color: #f90404;"></i>
                  </a>
                <% } else { %>
                  <!-- If the item is not in the wishlist, show white heart -->
                  <a href="#" class="btn text-white btn-b px-3 wishlist-btn" 
                    id="white" style="background: #f37c05;" data-product-id="<%= product._id %>">
                    <i class="fa-sharp fa-solid fa-heart me-1" style="color: #ffffff;"></i>
                  </a>
                <% } %>
              <% }); %>
            <% } else { %>
              <!-- If wishlist is empty, show white heart -->
              <a href="#" class="btn text-white btn-b px-3 wishlist-btn" 
                id="white" style="background: #f87d01;" data-product-id="<%= product._id %>">
                <i class="fa-sharp fa-solid fa-heart me-1" style="color: #ffffff;"></i>
              </a>
            <% } %>
          </div>
          
          <!-- Price and Offers -->
          <div>
            <% if(product.discountType == "Nill"){ %>
              <h6>Base Price</h6>
              <p><strong> ₹ <%= product.price %> </strong> </p>
            <%  } else{ %>
              <h6>Discounted Price</h6>
              <p class="fw-bold fs-5"> ₹ <%= product.price - (product.price * product.discountPercentage / 100) %> 
                <span class="opacity-50 fs-6 fw-semibold ps-2"> 
                  <del>₹ <%= product.price %> </del> 
                </span>
              </p>
              <div class="pt-4">
                <h6 style="font-weight: 600;">Available Offer</h6>
                <div class="d-flex gap-3">
                  <i class="fa-sharp fa-solid fa-tag" style="color: #f35800;"></i> 
                  <p style="font-size: x-small;">
                    <span style="color: #f35800; font-weight: bold;"><%= product.discountType %> offer :</span> 
                    With this offer you can save <%= product.discountPercentage %>% of your money
                  </p>
                </div>
              </div>
            <% }%>
          </div>
        </div>

        <!-- Size Selector -->
        <div class="d-flex align-items-center pt-5">
          <h6 class="pe-2">Size:</h6>
          <select class="form-select" id="sizeDropdown" name="size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
          </select>
        </div>

        <!-- Quantity Selector -->
        <div class="d-flex align-items-center pt-3">
          <% if(product.stock <= 0){ %>
            <div class="p-2 fs-4" style="background: #f37c0522; color: #f35800; font-weight: bold;"> 
              Sorry! Out of stock 
            </div>
          <% } else { %>
            <h6 class="pe-2">Quantity:</h6>
            <div class="quantity-input">
              <button type="button" class="quantity-button btn" onclick="decrementQuantity(this)">
                <i class="fa-solid fa-square-minus h4" style="color: #f35800;"></i>
              </button>
              <input type="number" class="form-control" id="quantity" name="qty" value="1" min="1" max="<%= product.stock %>">
              <button type="button" class="quantity-button btn" onclick="incrementQuantity(this)">
                <i class="fa-solid fa-square-plus h4" style="color: #f35800;"></i>
              </button>
            </div>
          <% } %>
        </div>

        <!-- Add to Cart Button -->
        <div class="d-flex justify-content-center mt-4">
          <% if(product.stock <= 0){ %>
            <button type="submit" id="addtocartDis" name="addToCartDis" class="btn text-white px-5" style="background: #f35800;" disabled>
              <i class="fa-solid fa-cart-shopping me-1"></i> ADD TO CART
            </button>
          <%  } else { %>
            <button type="submit" id="addtocart" name="addToCart" onclick="addToCart('<%= product._id %>')" class="btn text-white px-5" style="background: #f35800;">
              <i class="fa-solid fa-cart-shopping me-1"></i> ADD TO CART
            </button>
          <% } %>
        </div>
      </div>

      <!-- Additional Information Column (Optional) -->
      <div class="col-12 col-md-4">
        <!-- Additional Information Goes Here -->
      </div>

   
  </div>
  </div>
</section>


<script>
    function incrementQuantity(button) {
      var input = button.parentNode.querySelector('input');
        var maxQuantity = parseInt(input.getAttribute('max'));

        if (parseInt(input.value) < maxQuantity) {
            input.stepUp();
        } else {
            alert("Maximum quantity reached!");
        }
    }

    function decrementQuantity(button) {
        var input = button.parentNode.querySelector('input');
        input.stepDown();
    }
</script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
      // Function to update the main image
      function updateMainImage(index) {
        var mainImage = $('#main-img');
        var subImages = $('.sub-img');
  
        var newSrc = subImages.eq(index).attr('src');
        mainImage.attr('src', newSrc);
      }
  
      // Hover event for sub-images
      $('.sub-img').hover(function () {
        var index = $(this).data('index');
        updateMainImage(index);
      });
  
      // Click event for sub-images
      $('.sub-img').click(function () {
        var index = $(this).data('index');
        updateMainImage(index);
      });
    });
  </script>






<script>
$(document).ready(function() {
  $('.wishlist-btn').on('click', function(e) {
    e.preventDefault();

    var productId = $(this).data('product-id');
    var wishlistUrl = "/cart/Wishlist/" + productId; // Adjust the URL based on your server implementation
    
    $.ajax({
      type: 'get',
      url: wishlistUrl,
      success: function(response) {
        if (response.success) {
          console.log(response.updatedWishlist);
          alert('Added to wishlist');
          location.href = '/itemDisplay/<%= product._id %>';

          // Check if the product is already in the wishlist
          var isProductInWishlist = response.updatedWishlist.products.some(item => item.product_id == productId);
          
          if (isProductInWishlist) {
            // If the product is already in the wishlist, set the color here
            // $(e.target).css('background', '#e3e2e1'); // Change to your desired color
            // $(e.target).find('i').css('color', '#f20707');
            alert('Added to wishlist');
            return;
          }
          
          // Update the heart icon color after successful addition
          // $(e.target).css('background', '#e3e2e1'); // Change to your desired color
          // $(e.target).find('i').css('color', '#f20707');
          
          
        } else {
          alert('Already added.');
        }
      },
      error: function(err) {
        console.error('Error adding item to wishlist:', err);
        alert('Failed to add item to wishlist.');
      }
    });
  });
});
</script>

<!-- Include jQuery library -->










<%-include("../layout/userFooter.ejs")-%>