<%-include("../layout/userHeader.ejs")-%>


<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " >
      <div class="position-sticky"  style="margin-top: 100px; ">
        <div class="list-group list-group-flush ms-5 mt-5" >
          <a
            href="/orderList"
            class="list-group-item list-group-item-action py-2 ripple side"
            
          >
          <i class="fa-solid fa-box me-2" style="color: #f35800;"></i><span>Order</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple side">
            <i class="fa-regular fa-heart me-2" style="color: #f35800;"></i><span>Wishlist</span>
          </a>
          <a href="/userProfile" class="list-group-item list-group-item-action py-2 ripple side" aria-current="true" style="color: #f35800; background: white;"
            ><i class="fa-solid fa-user me-2" ></i><span>Profile</span></a
          >
          <a href="/adrsPage" class="list-group-item list-group-item-action py-2 ripple side"
            ><i class="fa-sharp fa-solid fa-map-location-dot me-2" style="color: #f35800;"></i><span>Address</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple side">
            <i class="fa-solid fa-wallet me-2" style="color: #f35800;"></i><span>Wallet</span>
          </a>
          <a href="/logout" class="list-group-item list-group-item-action py-2 ripple side">
            <i class="fa-solid fa-arrow-right-from-bracket me-2" style="color: #f35800;"></i><span>Logout</span>
          </a>
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
  
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">


    <div class="content ">
      <div class="row">
        <div class="container  mb-5"> 
          

          <div class="mb-3  text-center d-flex">
            <div>
              <% if (userData.image && userData.image.length > 0) { %>
              <img src="/assests/profile/<%= userData.image %>" class="rounded-circle"  width="140px" height="120px" alt="">
               <% } else { %>
                <img src="/assests/dp/vecteezy_profile-icon-design-vector_5544718.jpg" width="140px" height="120px" alt="Default Avatar">
              <% } %>
            </div>
             <div class="my-auto" style="margin-left: 50px;">
<!-- ************************************************************************************************ -->




              <!--  ***********************************************************************************************-->
                <a style="text-decoration: underline;" href="/editdp/<%= userData._id %>">Edit</a>
                
             </div>
          </div>
         

          <div class="mb-3 col-6 gap-4 d-flex">
            <h4 ><strong> Personal Information</strong> </h4>

            <span style="margin-left: 300px;">
              <a style="text-decoration: underline;" href="/editprofile/<%= userData._id %>"  >Edit</a>
              </span>
            
             
          </div>
         <div class="mb-3 col-6 gap-4 d-flex">
            
            <input type="text" class="form-control" id="productName" name="Fname" placeholder="<%= userData.Name %>" disabled>
            <!-- <input type="text" class="form-control" id="productName" name="Lname" placeholder="<%= userData.LastName %>" disabled> -->
            
          </div>
          <h6 class="pt-3">  Your Gender</h6>
          <div class="mb-3 col-6 gap-4 d-flex">
           
            <div class="form-check  " >
              <input class="form-check-input" disabled  type="radio" name="Radios"   value="male" <% if (userData.gender === "male") { %>checked<% } %>>
              <label class="form-check-label" for="exampleRadios1">
                Male
              </label>
            </div>
            <div class="form-check" >
              <input class="form-check-input" type="radio" name="Radios" disabled  value="female"  <% if (userData.gender === "female") { %>checked<% } %>> 
              <label class="form-check-label" for="exampleRadios2">
               Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios"  value="others"  disabled <% if (userData.gender === "other") { %>checked<% } %>>
              <label class="form-check-label" for="exampleRadios3">
                Other
              </label>
            </div>
          </div>
          <h5 class="pt-3"> Email </h5>

          <div class="mb-3 col-6 ">

            <input type="email" class="form-control" id="productName" name="email" placeholder=" <%= userData.email %>" disabled>

          </div>

          

        

          <h5 class="pt-3"> Mobile Number </h5>
          <div class="mb-3 col-6 ">

            <input type="tel" class="form-control" id="productName" name="phn" placeholder="<%= userData.phone%>" disabled>

          </div>

          <div class="mb-3 col-6 gap-4 mt-5">
            <form action="/changePassword" id="pswChngForm">
            <div class="d-flex gap-3">
              <div><h4 ><strong> Change Password</strong> </h4></div>
              <div class="ms-auto"><button class="btn text-white" style="background: #f35800;"  id="saveButton">Save New Password</button></div>
            </div>
            <div class=" text-center fw-semibold fs-5 mb-3" style="color: #f35800;" id="errorContainer"></div>
         
           
           
            <div class="form-group col-6 ">
              <input type="password" name="Curt" class="form-control" id="exampleInputPassword1" placeholder="Current Password" hidden required>
            </div>
              <div class="d-flex gap-3 mt-4">
                
                <div class="form-group col-6 ">
                  <input type="password" name="Current" class="form-control" id="exampleInputPassword1" placeholder="Current Password"  required>
                </div>
                <div class="form-group col-6 ">
                  <input type="password" name="newPsw" class="form-control" id="exampleInputPassword1" placeholder="New Password"  required>
                </div>
                <!-- <div class="form-group col-6 ">
                  <input type="password" name="conformpassword" class="form-control" id="exampleInputPassword1" placeholder="Conform Password" required>
                </div> -->
    
               </div>

            </form>
          
           
            
             
          </div>

        </div>


      </div>
    </div>


  </main>
  <!--Main layout-->







<script>
  document.addEventListener('DOMContentLoaded' , ()=>{
    $('#pswChngForm').submit((e)=>{
      e.preventDefault()
      const newPswd = document.getElementById('Password2')
      const saveButton = document.getElementById('saveButton')
      
      $.ajax({
        url :'/changePassword',
        method : 'post',
        data : $('#pswChngForm').serialize(),
        success : (response)=>{
          if(response.success){
            alert("Password updated successfully")
            window.location.href = "/userProfile";
          }
          else{
            const errorContainer = document.getElementById('errorContainer');
            errorContainer.innerHTML = response.errors.join('<br>');
            setTimeout(() => {
            errorContainer.innerHTML = '';
          }, 3000);

          }
        }
      })
    })
  })
</script>





<%-include("../layout/userFooter.ejs")-%>