<%-include("../layout/userHeader.ejs")-%>

<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " >
      <div class="position-sticky"  style="margin-top: 100px; ">
        <div class="list-group list-group-flush ms-5 mt-5" >
          <a
            href="/orderList"
            class="list-group-item list-group-item-action py-2 ripple side"
            
          >
          <i class="fa-solid fa-box me-2" style="color: #f35800;"></i><span>Order</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple side" aria-current="true" style="color: #f35800; background: white;">
            <i class="fa-regular fa-heart me-2" style="color: #f35800;"></i><span>Wishlist</span>
          </a>
          <a href="/userProfile" class="list-group-item list-group-item-action py-2 ripple side" 
            ><i class="fa-solid fa-user me-2" style="color: #f35800;" ></i><span>Profile</span></a
          >
          <a href="/adrsPage" class="list-group-item list-group-item-action py-2 ripple side"
            ><i class="fa-sharp fa-solid fa-map-location-dot me-2" style="color: #f35800;"></i><span>Address</span></a
          >
          <a href="/wallet" class="list-group-item list-group-item-action py-2 ripple side">
            <i class="fa-solid fa-wallet me-2" style="color: #f35800;"></i><span>Wallet</span>
          </a>
          <a href="/logout" class="list-group-item list-group-item-action py-2 ripple side">
            <i class="fa-solid fa-arrow-right-from-bracket me-2" style="color: #f35800;"></i><span>Logout</span>
          </a>
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
  
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">


    <div class="content ">
      <div class="row">
        <div class="container  mb-5"> 
          
            <div class="mb-3 ">

              <% if(updatedWishlist && updatedWishlist.products.length > 0) { %>
                <% updatedWishlist.products.forEach(product => { %> 

                  <div class=" d-flex gap-3 my-3 py-2 me-5" style=" box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.242);">
                    
                    <div class="ps-4 "> 
                      <a href="/itemDisplay/<%= product.product_id%>">
                        <img src="/assests/productsUploads/<%= product.image %>" 
                         alt="..."  width="100px" style="border-radius: 5px;">
                        
                       </a>
                     </div>
                    <div class="ps-4 pt-3  ">
                        
                        <div class="fw-bold fs-5"><%= product.name %></div>
                        <div style="color: rgb(154, 151, 151);"><%= product.category %></div>
                        <div class="fw-bold fs-6  ">₹<%= product.price %></div>
                        
                        
                        
                       
                    </div>
                   
                    
                    <div class="ms-auto me-5">
                      <button class="btn mt-2 text-white removeButton" style="background: #f35800;" name="itemId" data-product-id="<%= product.product_id %>"> Remove </button> <br>
                      

                    </div>
                  </div>
             
               
                    <% }) %>
                <% } else { %>
                    <div>No items in the wishlist</div>
                <% } %>
            </div>
            


      </div>
    </div>


  </main>

  
  <script>
    document.addEventListener('DOMContentLoaded', async () => {
  console.log("hai");
  const removeButtons = document.querySelectorAll('.removeButton');
  removeButtons.forEach(removeButton => {
    removeButton.addEventListener('click', function  ()  {
      const itemId = removeButton.getAttribute('data-product-id');
      const url = `http://localhost:8080/cart/wishlist/removeItem/${itemId}`;

      $.ajax({
  url: url,
  method: "post",
  data: { itemId: itemId },
  success: (response) => {
      // Log the response to the console
    if (response.success) {
      location.href = '/cart/wishlist';
    }
  }
});



    });
  });
});

</script>

<%-include("../layout/userFooter.ejs")-%>